body {
	font-family:'Lato', Arial;
	font-size:13px;
	line-height:21px;
	color:#838383;
	background:url(../images/bg-repeat.jpg) repeat;
}

a,
a:visited {
	text-decoration:none;
	color:#222e3e;
}

h2 {
	margin:0 0 15px 0;
	font-family:'Lato', Arial;
	font-size:18px;
	color:#222e3e;
}
	

a:hover {
	color:#000;
	text-decoration:none;
}

header {
	height:90px;
	line-height:90px;
	background:#fff;
}

header .logo {
	float:left;
	font-size:18px;
}

header .btn-group {
	float:right;
	margin:28px 0px 0px 0px;
}

header .dropdown-menu {
	right:15px;
	left:auto;
	top:63px;
}
	
header ul {
	display:none;
}

#top {
	background:url(../images/bg-sm.jpg) center top;
	background-size:cover;
	width:100%;
	position:absolute;
	top:90px;
	height:200px;
	text-align:center;
	color:#fff;
	font-size:36px;
	font-weight:300;
	padding:50px 0 0 0;
}

#top span {
	font-weight:normal;
	font-size:13px;
	display:block;
	padding:10px 0 0 0;
}

#top h1 {
	width:100%;
	text-align:left;
	font-family:'Lato';
	font-size:36px;
	font-weight:300;
}

#content {
	margin-top:150px;
	background:#fff;
	padding:30px;
	box-shadow:0 0 35px rgba(0,0,0,0.1);
}

hr {
	padding:0 0 30px 0;
	border:0;
	border-bottom:1px solid #d2d2d2;
	margin:0 0 30px 0;
}

#footer {
	line-height:50px;
	font-size:11px;
}

ul.subnav {
	padding:0 0 20px 16px;
	margin:0;
}

@media (min-width: 700px) {
	
	#top {
		background:url(../images/bg-md.jpg) center top;
		background-size:cover;
	}
	
	header .btn-group {
		float:right;
		display:none;
		margin:27px 0 0 0;
	}
	
	header ul {
		float:right;
		list-style:none;
		padding:0;
		margin:0;
		overflow:hidden;
		display:block;
	}
	
	header nav li {
		float:left;
		margin-left:30px;
	}
	
	header li a,
	header li a:visited {
		color:#838383;
	}
	
	header li a:hover,
	header li.active a {
		color:#222e3e;
	}
		
}

@media (min-width: 992px) {
	
	#top {
		background:url(../images/bg.jpg) center top;
		background-size:cover;
	}
}