
@media (min-width: 978px) and (max-width: 1200px) {

 
}

@media (max-width: 979px) {
	
	#tools, #user img {
		display:none;
	}
	
	#navi {
		position:absolute;
		left:0;
		margin:30px 30px 0 30px;
		top:0;
		border-bottom:5px solid #252525;
		right:0;
		width:auto;
		min-height:85px;
		height:85px;
	}
	
	#navi ul {
		padding:0;
		margin:0;
	}
	
	#navi ul li a {
		border-radius:4px 4px 0 0;
		width:80px;
	}
	
	#navi ul li a span {
		width:80px;
	}
	
	#navi ul li {
		float:left;
	}
	
	#wrap {
		right:0;
		margin:30px;
  		background-position:-30px 0;
		left:0;
		top:85px;
		border-radius:0 0 4px 4px;
	}
	
	#content {
		padding-left:240px;
	}
	
	#subnavi, #subnavi #user {
		width:210px;
	}
}

@media (max-width: 620px) {
	
	#user-mobil {
		display:block;
		position:absolute;
		right:10px;
		top:10px;
		padding:5px;
		cursor:pointer;
		border-radius:4px 4px 0 0;
	}
	
	#user-mobil.active {
		background:#202020;
		border-bottom:10px solid #202020;
		color:#fff;
	}
	
	#user-mobil h4, #user-mobil span {
		line-height:30px;
	}
	
	#user-mobil h4 {
		font-size:14px;
		margin:0;
		float:right;
		padding:0 10px;
	}
	
	#user-mobil img {
		width:30px;
		float:right;
		height:30px;
	}
	
	#user-mobil span {
		display:block;
		float:right;
		line-height:32px;
		padding-right:5px;
	}
	
	#subnavi #user, #subnavi h1 {
		display:none;
	}
	
	#subnavi {
		margin:-40px 0 0 0;
		padding:0;
		background:#202020;
		position:relative;
		z-index:1;
		width:100%;
	}
	
	#subnavi.round {
		border-radius:0 0 3px 3px;
	}
	
	#subnavi #mobil {
		display:block;
		position:absolute;
		line-height:40px;
		color:#fff;
		padding-left:20px;
		cursor:pointer;
	}
	
	#subnavi ul.subnav  {
		padding:40px 20px 0px 20px;
	}
	
	#subnavi ul.subnav li a {
		display:none;
		margin-right:0;
	}
	
	#subnavi ul.subnav li.active a {
		background:none;
	}
	
	#subnavi ul.subnav li.active a:hover, #subnavi ul.subnav li a:hover {
		color:#fff;
	}
	
	#subnavi ul.subnav.display {
		padding:45px 20px 5px 20px;
	}
	
	#subnavi #user.display, #subnavi ul.subnav.display li a {
		display:block;
	}
	
	#content {
		left:0;
		background:url(../img/bg/noise.png) repeat;
		padding:10px;
	}
	
	#navi {
		margin:10px 10px 0 10px;
		min-height:50px;
		height:50px;
	}
	
	#navi ul li a {
		border-radius:4px 4px 0 0;
		width:40px;
		height:50px;
		padding:0;
		line-height:50px;
		font-size:22px;
	}
	
	#navi ul li a span {
		display:none;
	}
	
	#wrap {
		left:0;
		background:url(../img/bg/noise.png) repeat;
		margin:10px;
		top:90px;
		padding:0;
	}
	
}

@media (max-width: 480px) {
	
	#center {
		display:none;
	}
	
	#login {
		width:100%;
		margin-top:20px;
	}
	
}