
@media (min-width: 978px) and (max-width: 1200px) {

 
}

@media (max-width: 979px) {
	
	#tools, #navi, #user img {
		display:none;
	}
	
	#wrap {
		right:0;
		margin:30px;
  		background-position:-30px 0;
		left:0;
	}
	
	#content {
		padding-left:240px;
	}
	
	#subnavi, #subnavi #user {
		width:180px;
	}
}

@media (max-width: 480px) {
	
	#subnavi, #center {
		display:none;
	}
	
	#content {
		left:0;
		background:url(../img/bg/noise.png) repeat;
		margin:10px;
		padding:10px;
		border-radius:4px;
	}
	
	#wrap {
		left:0;
		background:url(../img/bg/noise.png) repeat;
		margin:10px;
		padding:10px;
		border-radius:4px;
	}
	
	#login {
		width:100%;
		margin-top:20px;
	}
	
}