
body {
	font-family:'Lato', Arial;
	background:url(../img/subnav.png) repeat-y #fff;
	color:#777;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
.form-control:focus {
	outline:none!important;
	-webkit-appearance:none;
}

a,
a:visited {
	transition: all 0.3s ease-in-out;
	color:#bf1e2e;
}

a:hover {
	text-decoration:none;
	color:#b0202e;
}

.btn {
	transition: all 0.3s ease-in-out;
}

a.btn {
	color:#fff;
}

.btn-default {
	color: #ffffff;
	background-color: #bf1e2e;
	border-color: #bf1e2e;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	background-color: #b0202e;
	border-color: #b0202e;
	color:#fff;
}

.breadcrumb {
	background:#fff;
	border:1px solid #ddd;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #474949;
	border-color: #474949;
}

.panel {
	border-radius:3px;
}

.form-control {
	border-radius:0;
	box-shadow:none;
	outline:none;
}

.panel-heading h3 {
	line-height:30px;
	font-weight:300;
}

.panel-default >.panel-heading {
	background:#fff;
}

h1 {
	margin:0;
	padding:30px 0 20px 30px;
	font-family:'Lato', Arial;
	font-size:24px;
	float:left;
	color:#000;
	font-weight:normal;
}

header {
	position:fixed;
	height:60px;
	width:100%;
	background:#252525;
	z-index:20;
	transition: all .2s ease-in-out;
	top: 0;
}

#user {
	line-height:60px;
	float:right;
	padding:0 20px;
	color:#fff;
	cursor:pointer;
	position:relative;
	transition: all 0.3s ease-in-out;
	z-index:30;
}

#user ul {
	position:absolute;
	padding:0;
    display: block;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
	right:0;
	margin:0;
	background:#fff;
	border:1px solid #ddd;
	list-style:none;
	z-index:30;
}

#user li {
	padding:13px 30px;
	line-height:normal;
	white-space:nowrap;
}

#user i {
	font-size:11px;
	padding-left:10px;
}

#user:hover {
	background:#24262b;
}

#user:hover ul {
    opacity: 1;
    height: auto;
}

header .logo {
	float:left;
	margin:17px 0 0 24px;
}

nav {
	position:fixed;
	top:60px;
	bottom:0;
	width:200px;
	z-index:99;
}

nav hr {
	display:none;
}

nav h3 {
	text-transform:uppercase;
	font-size:11px;
	margin-left:20px;
	font-family:'Lato', Arial;
	font-weight:600;
	padding:20px 0 0 20px;
	color:#000;
	margin:0;
}

nav a,
nav a:visited {
	color:#252525;
}
	
nav a:hover {
	color:#252525;
}
	
nav li.active a {
	color:#bf1e2e;
}

nav li.active .expand {
	display:none;
}
	
nav ul {
	margin:0;
	padding:15px 0 0 0;
	list-style:none;
}

nav a i {
	display:block;
	font-size:18px;
	text-align:center;
	width:25px;
	float:left;
	margin-right:10px;
}

nav .expand {
	display:block;
	float:right;
	font-size:12px;
	cursor:pointer;
	margin:2px 20px 0 0;
}

nav li {
	padding:10px 0 20px 20px;
}

nav li ul {
	border-left:3px solid #efeff3;
	margin:15px 0 0 4px;
	padding:0;
	display:none;
}

nav li.active ul {
	display:block;
}

nav li ul a,
nav li ul a:visited {
	color:#777;
	padding:10px 0 0 10px;
	display:block;
}

nav li ul li {
	padding:0;
}

#nav-expand {
	display:none;
}

section {
	background:#efeff3;
	margin-left:201px;
	padding-top:60px;
}

#top {
	overflow:hidden;
	margin-bottom:-1px;
	position:relative;
	z-index:1;
}

.subnav {
	margin:40px 0 0 30px;
	padding:0;
	list-style:none;
	float:left;
	overflow:hidden;
	display:none;
}

.subnav li {
	float:left;
}

.subnav a {
	display:block;
	padding:0 30px;
	color:#777;
	border-radius:3px 3px 0 0;
	line-height:40px;
}

.subnav a:hover {
	color:#bf1e2e;
}

.subnav li.active a {
	background:#fff;
	color:#bf1e2e;
	border:1px solid #dfdfe2;
	border-bottom:1px solid #fff;
}

#content {
	padding:30px;
	background:#fff;
	border-top:1px solid #dfdfe2;
}

.dyn-offline.fa,
.dyn-online.fa {
	width:35px;
	text-align:center;
}

.dyn-offline {
	background-color: #d9534f;
	border-color: #d43f3a;
	color:#fff;
}

option.page-offline {
	border-left:3px solid #d9534f;
}

.dyn-online {
	background:#2ecc71;
	color:#fff;
}

option.page-online {
	border-left:3px solid #2ecc71;
}

#structure-content {
	padding:0px;
	margin:0px;
	list-style:none;
}

.structure-addmodul-box {
	margin-bottom:20px;
}

ul.news {
	padding:0;
	margin:0;
	list-style:none;
}

ul.news li {
	border-bottom:1px solid #dfdfdf;
}

ul.news li:last-child {
	border-bottom:none;
}

ul.news li .btn {
	margin-top:7px;
}

.form-2cols .form-group {
	float:left;
	width:50%;
	padding:0px 5px;
}

.form-horizontal label, .form-horizontal .form-wrap-input {
	float:left;
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
}

.form-horizontal label {
	width:16.6667%;
	padding-top:7px;
	margin:0px;
}

.form-horizontal label.radio-inline {
	width:auto;
}

.form-horizontal label.radio-inline input {
	margin-left:-15px;
}

.form-horizontal .form-wrap-input {
	width:83.3333%;
}

#structure-tree, #structure-tree ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
#structure-tree li {
	margin:5px 0px;
}

#structure-tree div.handle {
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ddd;
	padding:0px 10px;
	height:41px;
	line-height:41px;
}

#structure-tree div.dropzone {
	height:6px;
}

#structure-tree li.structure-edit  {
	background:#fff;
}

#structure-tree li.structure-edit .structure-name {
	line-height:44px;	
	height:44px;
}

#structure-tree span.btn-group {
	float:right;
	margin:5px 0px 0px 0px;
}

#structure-tree ul {
	margin-left:20px;
}

#structure-tree .ui-sortable-placeholder {
	border:1px dashed #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	height:41px;
	visibility:visible !important;
}

.input-group-addon .fa {
	display:block;
	margin:2px 0px;
	cursor:pointer;
	height:14px;
	width:14px;
}

.form-horizontal .form-wrap-input, .form-horizontal label {
	width:100%;
	float:none;
}

.form-horizontal label {
	padding-top:0;
	margin:5px;
}

.form-submit-area {
	padding:0px;
}

.form-horizontal .form-submit-area {
	padding:0px 15px;
}

.panel form .table {
	margin-bottom:0px;
}