/* General */

html,
body {
	height:100%;
}

body {
	font-family:'Lato', Arial;
	color:#777;
	background:#f1f5f7;
}

a,
a:visited {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color:#bf1e2e;
}

a:hover {
	text-decoration:none;
	color:#b0202e;
}

h1 {
	font-family:'Lato', Arial;
	font-weight:300;
	font-size:24px;
	margin:0;
	float:left;
	padding:0 30px;
	color:#000;
	line-height:70px;
}

h4 {
	font-family:'Lato', Arial;
	text-transform:uppercase;
	font-size:11px;
	color:#2d3c44;
	border-bottom:1px solid #22262c;
	padding:10px 20px 8px 20px;
}

/* Bootstrap Styles */

textarea:hover, 
input[type=text]:hover, 
textarea:active, 
input[type=text]:active, 
textarea:focus, 
input[type=text]:focus,
.form-control:focus {
	outline:none!important;
	-webkit-appearance:none;
}

.btn {
	transition: all 0.3s ease-in-out;
}

a.btn,
a.btn:visited {
	color:#fff;
}

.btn-default,
.btn-danger {
	color:#fff;
	background-color: #bf1e2e;
	border-color: #bf1e2e;
}

a.btn-warning,
a.btn-warning:visited,
.btn-warning,
.btn-warning:visited {
    color: #777;
    background-color: #f1f5f7;
    border-color: #f1f5f7;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
    color: #000;
    background-color: #f1f5f7;
    border-color: #f1f5f7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
	background-color: #b0202e;
	border-color: #b0202e;
	color:#fff;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #474949;
	border-color: #474949;
}

.panel {
	border-radius:3px;
}

.form-control {
	border-radius:0;
	box-shadow:none;
	outline:none;
}

.panel-heading h3,
.modal-header h3 {
	line-height:30px;
	font-weight:300;
	font-size:16px;
	color:#000;
}

.panel-default >.panel-heading {
	background:#fff;
}

/* Login */

#login {
	top:50%;
	left:50%;
	width:320px;
	position:absolute;
	margin:-150px 0 0 -160px;
}

#login h3 {
	color:#fff;
}

#login img {
	height:30px;
}
 
#login .input-group {
	padding:10px 0;
}
  
#login .panel-heading {
	background:#171a1e;
}

/* Left Sidebar */

#left {
	position:fixed;
	height:100%;
	width:190px;
	background:#171a1e;
	z-index:99;
	border-bottom:3px solid #bf1e2e;
}

#left::-webkit-scrollbar {
    display: none;
}

#logo {
	display:block;
	background:#0f1114;
	width:190px;
	padding:20px 0 0 20px;
	height:70px;
	border-bottom:1px solid #22262c;
	line-height:30px;
	color:#fff;
	font-size:14px;
}

#logo img {
	height:30px;
	margin-right:10px;
}

#left ul {
	padding:0;
	margin:0;
	list-style:none;
}

#left ul a {
	color:#c7cfd3;
	display:block;
	padding:0 20px;
	line-height:45px;
}

#left ul ul a {
	line-height:25px;
	color:#777;
}

#left ul ul {
	padding-bottom:10px;
	display:none;
}

#left > ul > li:hover {
	background:#0f1114;
	border-left:3px solid #bf1e2e;
}

#left hr {
	display:none;
}

#left  li.active ul {
	display:block;
}

#left  li.active > a {
	color:#bf1e2e;
}

#left > ul > li.active {
	background:#f1f5f7;
	border-left:3px solid #bf1e2e;
}

#left li {
	margin-bottom:5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#left ul a i {
	padding:0 8px 0 0;
}

#tool {
	position:absolute;
	width:190px;
	background:#0f1114;
	border-top:1px solid #22262c;
	text-align:center;
	bottom:0;
	padding:20px 0;
}

#tool li,
#tool li a {
	display:inline-block;
	height:30px;
	padding:0;
	line-height:30px;
}

#tool a:hover {
	color:#bf1e2e;
}

#tool li {
	border-right:1px solid #22262c;
	padding:0 15px;
}

#tool li:last-child {
	border:0;
}

/* Content */

#content {
	position:absolute;
	left:190px;
	right:0;
	top:70px;
	padding:30px;
}

/* Slide Dashboard */

#slide {
	padding:30px;
	background:#fff;
	border-bottom:1px solid #dce1e4;
	position:relative;
	margin:-30px -30px 30px -30px;
}

#slide .stat {
	border-left:3px solid #bf1e2e;
	padding-left:15px;
	margin-bottom:30px;
}

#slide .stat i {
	font-size:9px;
}

#slide .stat .btn {
	display:inline-block;
	margin:-7px 0 0 4px;
	clear:both;
}

#slide .stat span {
	font-size:24px;
	display:block;
	font-weight:300;
	color:#000;
}

#slide .expand {
	position:absolute;
	left:50%;
	width:40px;
	height:40px;
	margin:0 0 0 -20px;
	bottom:-20px;
	border:1px solid #dce1e4;
	background:#fff;
	text-align:center;
	line-height:40px;
	cursor:pointer;
}

/* Head */

#head {
	background:#fff;
	background:rgba(255, 255, 255, 0.9);
	border-bottom:1px solid #dce1e4;
	position:fixed;
	left:190px;
	z-index:90;
	top:0;
	right:0;
	height:70px;
}

#head .btn i {
	padding:0 5px 0 0;
}

#head .btn {
	margin:18px 0 0 0;
}

#panel {
	float:right;
	line-height:70px;
	cursor:pointer;
	height:70px;
	position:relative;
	padding:0 30px;
	border-left:1px solid #dce1e4;
}

#panel ul {
    position:absolute;
    padding:0;
	display:none;
    overflow: hidden;
    right:0;
    margin:0;
    background:#fff;
    border:1px solid #dce1e4;
	border-top:0;
    list-style:none;
}

#panel li {
    padding:13px 30px;
    line-height:normal;
    white-space:nowrap;
}

#panel i {
    font-size:11px;
    padding-left:10px;
}

#panel i.fa-user {
	padding:0 10px 0 0;
	color:#000;
	font-size:14px;
}

/* System */

.dyn-offline.fa,
.dyn-online.fa {
    width:35px;
    text-align:center;
}

.dyn-offline {
	background-color: #bf1e2e;
	border-color: #bf1e2e;
    color:#fff;
}

option.page-offline {
    border-left:3px solid #d9534f;
}

.dyn-online {
    background:#2ecc71;
    color:#fff;
}

option.page-online {
    border-left:3px solid #2ecc71;
}

#structure-content {
    padding:0px;
    margin:0px;
    list-style:none;
}

.structure-addmodul-box {
    margin-bottom:20px;
}

ul.news {
    padding:0;
    margin:0;
    list-style:none;
}

ul.news li {
    border-bottom:1px solid #dce1e4;
}

ul.news li:last-child {
    border-bottom:none;
}

ul.news li .btn {
    margin-top:7px;
}

.form-2cols .form-group {
    float:left;
    width:50%;
    padding:0px 5px;
}

.form-horizontal label, .form-horizontal .form-wrap-input {
    float:left;
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px;
}

.form-horizontal label {
    width:16.6667%;
    padding-top:7px;
    margin:0px;
}

.form-horizontal label.radio-inline {
    width:auto;
}

.form-horizontal label.radio-inline input {
    margin-left:-15px;
}

.form-horizontal .form-wrap-input {
    width:83.3333%;
}

#structure-tree, #structure-tree ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
#structure-tree li {
    margin:5px 0px;
}

#structure-tree div.handle {
    background:#fff;
    border-radius:5px;
    border:1px solid #dce1e4;
    padding:0px 10px;
    height:41px;
    line-height:41px;
}

#structure-tree div.dropzone {
    height:6px;
}

#structure-tree li.structure-edit  {
    background:#fff;
}

#structure-tree li.structure-edit .structure-name {
    line-height:44px;
    height:44px;
}

#structure-tree span.btn-group {
    float:right;
    margin:5px 0px 0px 0px;
}

#structure-tree ul {
    margin-left:20px;
}

#structure-tree .ui-sortable-placeholder {
    border:1px dashed #dce1e4;
    border-radius:5px;
    height:41px;
    visibility:visible !important;
}

.input-group-addon .fa {
    display:block;
    margin:2px 0px;
    cursor:pointer;
    height:14px;
    width:14px;
}

.form-horizontal .form-wrap-input, .form-horizontal label {
    width:100%;
    float:none;
}

.form-horizontal label {
    padding-top:0;
    margin:5px;
}

.form-submit-area {
    padding:0px;
}

.form-horizontal .form-submit-area {
    padding:0px 15px;
}

.panel form .table {
    margin-bottom:0px;
}

/* Mobil */

#expand {
	display:none;
	font-size:16px;
	margin:15px 20px;
	height:40px;
	width:40px;
	cursor:pointer;
	float:right;
	color:#fff;
	line-height:40px;
	text-align:center;
	background:#171a1e;
	border-radius:3px;
}

.slide {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}

.slide--reset, #head.stay {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

.slide--up {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%)
}

.subnav {
	display:none;
}

@media (max-width:1200px) and (min-width:700px) {
	
	#left {
		width:80px;
		text-align:center;
		overflow:auto;
	}
	
	#left ul a {
		padding:0;
		line-height:55px;
		font-size:18px;
	}
	
	#left ul ul {
		display:none!important;
	}
	
	#left span,
	#left h4 {
		display:none;
	}
	
	#left ul a i {
		padding:0;
	}
	
	#logo {
		width:80px;
		padding:18px 25px 0 25px;
	}
	
	#left hr {
		display:block;
		width:100%;
		height:1px;
		background:#22262c;
		border:0;
		margin:15px 0;
	}
	
	#logo img {
		margin:0;
	}
	
	#head,
	#content {
		left:80px;
	}
	
	#tool {
		width:80px;
	}
	
	#tool li,
	#tool li a {
		display:block;
		height:30px;
		padding:0;
		line-height:30px;
	}
	
	#tool li {
		border:0;
		padding:0;
	}
	
	.subnav {
		display:block;
		padding:0;
		margin:0 0 20px 0;
		list-style:none;
		overflow:hidden;
	}
	
	.subnav li {
		float:left;
		margin-right:30px;
	}
	
	.subnav a {
		line-height:50px;
		height:50px;
		display:block;
		color:#777;
	}
	
	.subnav a:hover {
		color:#bf1e2e;
	}
	
	.subnav li.active a {
		padding:0 20px;
		color:#bf1e2e;
		background:#fff;
		border:1px solid #dce1e4;
		border-radius:3px;
	}
	
}

@media (max-width:700px) {
	
	#head span {
		display:none;
	}
	
	#content {
		padding:10px;
	}
	
	#slide {
		padding:10px;
		margin:-10px -10px 10px -10px;
	}
	
	#panel i.fa-user,
	#head .btn i {
		padding:0;
	}
	
	#panel {
		padding:0 10px;
	}
	
	#left > ul > li.active {
		background:#fff;
		border:0;
	}
	
	#left > ul > li:hover {
		border:0;
	}
	
	h1 {
		padding:0 10px;
	}
	
	#head .btn {
		display:none;
	}
	
	#head,
	#content {
		left:0;
	}
	
	#expand {
		display:block;
	}
	
	#left {
    	-webkit-transition: 0.4s all;
		-moz-transition: 0.4s all;
		-ms-transition: 0.4s all;
		-o-transition: 0.4s all;
		transition: 0.4s all;
		left:-100%;
	}
	
	#tool {
		position:static;
		margin-top:30px;
	}
	
	#left.active {
		opacity:1;
		left:0;
	}
	
	#login {
		position:static;
		top:auto;
		left:auto;
		width:100%;
		margin:0;
		box-sizing:border-box;
	}
	
	body.login {
		padding:20px;
	}
	
}