body,
html {
	height:100%;
	width:100%;
	overflow:auto;
	overflow-x:hidden;
}

body {
	font-family:'Open Sans';
	font-size:13px;
	background:url(../img/bg/wood.jpg) no-repeat fixed #552413;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

a, a:visited { text-decoration:none!important; }
a:hover { text-decoration:none!important; }


h1, h2, h3, h4, h5, h6 {
	font-family:'Open Sans';
}

.btn {
	font-weight:normal;
}

a, a:visited {
	color:#bf1e2e;
}

a.btn {
	color:#fff;
}

.btn-default {
	color: #ffffff;
	background-color: #474949;
	border-color: #474949;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	background-color: #3a3c3c;
	border-color: #2e2f2f;
	color:#fff;
}

.breadcrumb {
	background:#fff;
	border:1px solid #ddd;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #474949;
	border-color: #474949;
}

.panel-heading h3 {
	line-height:30px;
}

h1 { 
	line-height:85px;
	font-weight:300;
	font-size:24px;
	color:#fff;
	margin:0;
	padding:0 0 0 20px; 
}

#wrap { 
	background:url(../img/bg/noise_side.png) repeat-y top left;
	left:130px;
	right:110px;
	position:absolute;
	margin:30px 0;
	border-radius:4px;
}

#center { width:1px; height:50%; margin-bottom:-190px; float:left; }

#login {
	margin:0 auto;
	width:320px;
	border-radius:3px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	background:#fff;
	clear:left;
	position:relative;
}

#login form {
	margin:0;
}

#remember {
	font-size:11px;
}

#login a {
	position:absolute;
	bottom:-30px;
	color:#fff;
}

#login .input-group {
	padding:10px 0;
}

#user-mobil {
	display:none;
}

#navi {
	position:absolute;
	left:0;
	width:100px;
	margin:30px 0 30px 30px;
	min-height:650px;
}

#navi ul, #subnavi ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

#navi ul {
	padding-top:100px;
}

#navi ul li a {
	width:100px;
	height:85px;
	padding-top:15px;
	display:block;
	text-align:center;
	border-radius:4px 0 0 4px;
	line-height:35px;
	font-size:24px;
	position:relative;
	color:#000;
	opacity:0.4;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#navi ul li.active a {
	background:#252525;
	border-bottom:3px solid #202020;
	color:#fff;
	opacity:1;
}

#navi ul li a:hover {
	opacity:1;
}

#navi ul li a span {
	display:block;
	font-size:12px;
	line-height:normal;
	position:absolute;
	bottom:15px;
	width:100px;
	text-align:center;
	font-family:'Open Sans';
}

#subnavi {
	width:240px;
	position:absolute;
}

#subnavi #user {
	width:240px;
	height:100px;
	background:#202020;
	border-radius:3px 0 0 0;
	padding:20px;
	color:#5c5c5c;
	font-size:11px;
	position:relative;
	line-height:normal;
}

#subnavi #user h3 {
	color:#fff;
	font-size:18px;
	font-weight:300;
	margin:0; 
	padding:0; 
}

#subnavi #user img {
	border-radius:4px;
	width:80px;
	height:80px;
	position:absolute;
	top:10px;
	left:-90px;
}

#subnavi #user a.settings {
	color:#5c5c5c;
	font-size:18px;
	position:absolute;
	top:20px;
	right:20px;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#subnavi #user a.messages {
	color:#fff;
	font-size:18px;
	position:absolute;
	bottom:20px;
	right:20px;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#subnavi #user a.messages span {
	position:absolute;
	top:-5px;
	right:-5px;
	background:#F03C02;
	color:#fff;
	font-size:9px;
	padding:0 3px;
	border-radius:2px;
	font-weight:600;
	font-family:'Open Sans';
}

#subnavi #mobil {
	display:none;
}

#subnavi #user a.logout {
	color:#5c5c5c;
	position:absolute;
	bottom:20px;
	left:20px;
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#subnavi #user a.logout span {
	font-family:'Open Sans';
}

#subnavi #user a:hover {
	color:#fff;
}

#subnavi ul.subnav {
	padding:0 0 0 20px;
}

#subnavi ul.subnav li {
	margin-bottom:5px;
}

#subnavi ul.subnav li a {
	display:block;
	height:40px;
	line-height:40px;
	color:#5c5c5c;
	border-top:1px solid #3c3c3c;
	margin-right:20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#subnavi ul.subnav li a span {
	font-family:'Open Sans';
	padding-left:5px;
}

#subnavi ul.subnav li ul {
	padding:10px 0;
}

#subnavi ul.subnav li a:hover {
	color:#fff;
}

#subnavi ul.subnav li.active a:hover {
	color:#000;
}

#subnavi ul.subnav li ul li.active a:hover, 
#subnavi ul.subnav li.active ul li a:hover  {
	color:#fff;
}

#subnavi ul.subnav li.active a {
	border-radius:3px 0 0 3px;
	background:url(../img/bg/noise.png) repeat;
	margin-right:0;
	padding-left:20px;
}

#subnavi ul.subnav li.active ul li a {
	border-radius:0;
	background:none;
	border:0;
	margin-right:0;
	padding-left:15px;
	color:#5c5c5c;
	line-height:24px;
	height:24px;
}

#subnavi ul.subnav li ul li.active a {
	border-radius:0;
	background:none;
	margin-right:0;
	border:0;
	padding-left:15px;
	color:#fff;
}

#content {
	padding:30px;
	padding-left:270px;
	min-height:650px;
}

#tools {
	width:60px;
	right:0;
	position:absolute;
	top:0;
	margin:30px 30px 30px 0;
	bottom:0;
}

#tools a#trash {
	display:block;
	margin-top:30px;
	width:70px;
	height:83px;
	background:url(../img/bin.png) no-repeat;
}

#tools #trash-text {
	width:200px;
	padding:10px;
	background:#252525;
	position:absolute;
	right:-230px;
	font-size:10px;
	color:#5c5c5c;
	overflow:hidden;
	top:130px;
	border-radius:3px;
}

#tools #trash-text h4 {
	color:#fff;
	font-weight:300;
	font-size:14px;
	margin-bottom:5px;
}

.box {
	background:#fff;
	border:1px solid #dfdfdf;
	padding:20px;
	margin-bottom:20px;
}

.dyn-offline.fa,
.dyn-online.fa {
	width:35px;
	text-align:center;
}

.dyn-offline {
	background-color: #d9534f;
	border-color: #d43f3a;
	color:#fff;
}

option.page-offline {
	border-left:3px solid #d9534f;
}

.dyn-online {
	background:#2ecc71;
	color:#fff;
}

option.page-online {
	border-left:3px solid #2ecc71;
}

#structure-content {
	padding:0px;
	margin:0px;
	list-style:none;
}

.structure-addmodul-box {
	margin-bottom:20px;
}

ul.news {
	padding:0;
	margin:0;
	list-style:none;
}

ul.news li {
	border-bottom:1px solid #dfdfdf;
}

ul.news li:last-child {
	border-bottom:none;
}

ul.news li .btn {
	margin-top:7px;
}

.form-2cols .form-group {
	float:left;
	width:50%;
	padding:0px 5px;
}

.form-horizontal label, .form-horizontal .form-wrap-input {
	float:left;
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
}

.form-horizontal label {
	width:16.6667%;
	padding-top:7px;
	margin:0px;
}

.form-horizontal .form-wrap-input {
	width:83.3333%;
}

#structure-tree, #structure-tree ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
#structure-tree li {
	margin:5px 0px;
}

#structure-tree div.handle {
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ddd;
	padding:0px 10px;
	height:41px;
	line-height:41px;
}

#structure-tree div.dropzone {
	height:6px;
}

#structure-tree li button {
	border:0px;
	display:block;
	cursor:pointer;
	float:left;
	position:relative;
	background:transparent;
	height:41px;
	width:30px;
}

#structure-tree li.structure-edit  {
	background:#fff;
}

#structure-tree li.structure-edit .structure-name {
	line-height:44px;	
	height:44px;
}

#structure-tree span.btn-group {
	float:right;
	margin:5px 0px 0px 0px;
}

#structure-tree ul {
	margin-left:20px;
}

#structure-tree .ui-sortable-placeholder {
	border:1px dashed #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	height:41px;
	visibility:visible !important;
}